@font-face {
  font-family: 'Short Stack', 'Comic Sans', cursive;
  src: url(="<link href="https://fonts.googleapis.com/css?family=Short+Stack" rel="stylesheet">");
}

/** {
  box-sizing: border-box;
}

body {
  background: goldenrod;
}*/
body {
  background-repeat: no-repeat;
  background-size: 100%;
}

* {
  font-family: 'Short Stack', cursive;
}
#header {
  border:5px solid #f2c32b;
  height:100px;
  width: 100%;
  background-color: #65d0e6 ;

}

#who_are_we {
  position: absolute;
  right: 0px;
}

#john {
  float: left;
  clear: both;
  border: 0px;
  width: 500px;
}

#martin {
  float: left;
  border: 0;
  width: 500px;
}

#form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 31%;
  margin: 0 auto;
}

#form
{
  height:362px;
  width:550px;
  background:#f2c32b;
  border:5px solid #76b52b;
  display:block;
  opacity:1;
  transition : all .5s;
  -wekit-transition : all .5s;
  -moz-transition : all .5s;
}

#complaint {
  position: absolute;
  border: 0px;
  width: 700px;
  top: 30%;
  left: 25%;
  text-align: center;
}
