@font-face {
  font-family: 'Short Stack', 'Comic Sans', cursive;
  font-family: 'Amatic SC', cursive;
  src: url(link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Short+Stack");
}

* {}

body {
  background-repeat: no-repeat;
  background-size: 100%;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

h1 {
  font-size: 36pt;
  padding-left: 5%;

}

h2 {
  font-size: 30pt;
  padding-left: 5%;
}

p {
  font-family: 'Short Stack', 'Comic Sans', cursive;
  font-size: 14px;
}

nav {
  padding-left: 50%;
  text-align: left;
}
nav li {
  list-style: none;
  display: inline-block;
  font-family: 'Short Stack', 'Comic Sans', cursive;
  font-size: 14pt;
}

.header {
  border:3px solid #f2c32b;
  width: 99.5%;
  background-color: #76b52b;
  background-color: rgba(118, 181, 43, 0.5);

}

.intro {
  padding-left: 10%;
  padding-right: 15%;
  margin-top: 20px;
}

#form {
  text-align: left;
  margin: 30px auto;
  width:750px;
  background-color: #f2c32b;
  background-color: rgba(242, 195, 43, 0.8);
  border:5px solid #76b52b;
  display:block;
  padding-left: 15px;
  transition : all .5s;
  -wekit-transition : all .5s;
  -moz-transition : all .5s;
}

#complaint {
  /*position: absolute;*/
  border: 0px;
  width: 700px;
  top: 30%;
  left: 25%;
}


#who_are_we {
  /*position: absolute;*/
  right: 0px;
}

#john {
  float: left;
  clear: both;
  border: 0px;
  width: 500px;
}

#martin {
  float: left;
  border: 0;
  width: 500px;
}
